{% extends 'base.html' %}

{% block title %}
    text
{% endblock %}


{% block content %}
    <div class=" col-8 mt-5">
        <form class=" form-inline justify-content-center" id="createTaskForm" method="post" data-url="{% url 'task_list' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="mx-3">
                    {{ field }}
                </div>
            {% endfor %}
        <button type="submit" id="createButton" class = 'btn btn-outline-success'>Create</button>
        </form>

    </div>
    <div class="col-5 mt-5" id="taskList">
        {% for data in obj %}
            <div class="card mb-1" id="taskCard" data-id="{{ data.id }}">
                <div class="card-body">
                    {{ data.title }}
                    <button type="button" class="close float-right">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
